<div class="bottom_menu"> 
<a class="list-page-bottom" data="1">
    <i class="mui-icon mui-icon-plus"></i>
    <span class="title">我要翻译</span>
</a>
<a class="list-page-bottom" data="2">
    <i class="mui-icon mui-icon-pengyouquan"></i>
    <span class="title">翻译中心</span>
</a>
<a class="list-page-bottom" data="3">
  <!--  <i class="mui-icon mui-icon-phone"></i>
    <span class="title">联系客服</span>-->
    <i class="mui-icon mui-icon-contact"></i>
    <span class="title">我</span>
    <!-- <span class="count">{$count}</span>-->
</a>
</div>
<p class="copyright">{$system_copy_right}{$tongji_code}</p>
