<div class="bottom_menu"> 
<a class="current" href="{:addons_url('HumanTranslation://Wap/index', array('token'=>$token))}">
    <i class="mui-icon mui-icon-plus"></i>
    <span class="title">我要翻译</span>
</a>
<a  href="{:addons_url('HumanTranslation://Wap/translate', array('token'=>$token))}">
    <i class="mui-icon mui-icon-pengyouquan"></i>
    <span class="title">翻译中心</span>
</a>
<a  href="{:addons_url('HumanTranslation://Wap/ucenter', array('token'=>$token))}">
  <!--  <i class="mui-icon mui-icon-phone"></i>
    <span class="title">联系客服</span>-->
    <i class="mui-icon mui-icon-contact"></i>
    <span class="title">我</span>
    <!-- <span class="count">{$count}</span>-->
</a>
</div>
<p class="copyright">{$system_copy_right}{$tongji_code}</p>
