<include file="Public/mobile_head"/>
<include file="header"/>
<script type="text/javascript" src="__STATIC__/qrcode/qrcode.js"></script>
<script type="text/javascript" src="__STATIC__/qrcode/jquery.qrcode.js"></script>
<link rel="stylesheet" href="__STATIC__/mui.3.5.0/css/mui.min.css?v={:SITE_VERSION}">
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
<div  class="mui-content">
    	<div class="block_content_bg m_10">
            <div class="block_content_top_min custom-theme-blue">
                <center>请填写以下信息</center>
            </div>
        <!-- 表单 -->
        <form id="form" action="{:addons_url('HumanTranslation://Wap/add')}" method="post" class="form-horizontal p_10">
                  <input type="hidden" class="text input-large" name="{$field.name}" value="{:I($field[name], $field[value])}">
                  <div class="form-item cf">
                    <div class="controls">
                        <!--多个数组选择-->
                        <label class="item-label">选择擅长语言<span class="check-tips"></span></label>
                        <select name="select_language_id" id="select_language_id">
                            <option value="" selected >请选择语言</option>
                            <volist name="select_language_id" id="vo">
                                <option value="{$vo.id}" >{$vo.name}</option>
                            </volist>
                        </select>

                        <!--输入框-->
                        <label class="item-label">姓名<span class="check-tips">要与上传的证件等证明文件一致</span></label>
                          <input type="text" class="text input-medium" name="name" value="">

                        <label class="item-label">手机<span class="check-tips">方便联系</span></label>
                        <input type="text" class="text input-medium" name="mobile" value="">

                        <label class="item-label">毕业学校<span class="check-tips"></span></label>
                        <input type="text" class="text input-medium" name="graduate" value="">

                        <label class="item-label">专业<span class="check-tips"></span></label>
                        <input type="text" class="text input-medium" name="major" value="">

                        <label class="item-label">外语等级<span class="check-tips"></span></label>
                        <input type="text" class="text input-medium" name="language_level" value="">

                        <label class="item-label">从事翻译时间<span class="check-tips">一年以下 三年以上五年以下 五年以上等</span></label>
                        <input type="text" class="text input-medium" name="engaged_time" value="">

                        <div id="text-translation">
                            <label class="item-label">基本介绍<span class="check-tips">选填</span></label>
                            <label class="textarea">
                                <textarea id="textarea-content" name="intro"></textarea>
                            </label>
                        </div>
                        <div id="img-translation" class="hidden">
                            <label class="item-label">相关证明文件<span class="check-tips">身份证正面，等级证书，奖励证书等</span></label>
                            <div class="controls">
                                <div class="upload_row muti_picture_row">
                                    <notempty name="data[$field['name']]">
                                        <php>
                                            // $tempArr = explode(',',$data['img_url']);
                                            $tempArr =$data['img_url'];
                                            for($i=0;$i<count($tempArr);$i++){
                                            if(!empty($data['id']) && $forms['can_edit']!=1){
                                            echo '<div class="img_item"><input type="hidden" name="img_url[]" value="'.$tempArr[$i].'"/><img src="'.get_cover_url($tempArr[$i]).'"/></div>';
                                            }else{
                                            echo '<div class="img_item"><em>X</em><input type="hidden" name="img_url[]" value="'.$tempArr[$i].'"/><img src="'.get_cover_url($tempArr[$i]).'"/></div>';
                                            }
                                            }
                                        </php>
                                    </notempty>
                                    <if condition="empty($data[id]) || $forms[can_edit]==1">
                                        <a class="img_item add_btn" href="javascript:;" style="width: 84px;height: 84px;" onClick="$.WeiPHP.wxChooseImg(this,1,'img_url[]')"><img  src="__IMG__/add.png"/></a>
                                    </if>
                                </div>
                            </div>
                        <!--文本编辑器-->
                       <!--   <label class="textarea input-large">
                            <textarea name="{$field.name}">{$data[$field['name']]}</textarea>
                          </label>-->
                        <!--时间-->
                          <!--<input type="text" name="{$field.name}" class="text input-large time" value="{$data[$field['name']]|time_format}" placeholder="请选择时间" />-->
                       <!-- <div id="cascade_{$field.name}"></div>
                             {:hook('cascade', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        <div id="dynamic_select_{$field.name}"></div>
                        {:hook('dynamic_select', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}-->
<!--多选框-->
                        <!--  <volist name=":parse_field_attr($field['extra'])" id="vo">
                            <label class="checkbox"> <input type="checkbox" value="{$key}" name="{$field.name}[]" 
                              <in name="key" value="$data[$field['name']]" >checked="checked"</in>
                              >{$vo} </label>
                          </volist>-->
                        <!--文本编辑器-->

                        <!--上传文件-->
                          <!--<div class="controls">
                            <input type="file" id="upload_file_{$field.name}">
                            <input type="hidden" name="{$field.name}" value="{$data[$field['name']]}"/>
                            <div class="upload-img-box">
                              <present name="data[$field['name']]">
                                <div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
                              </present>
                            </div>
                          </div>-->
                          <script type="text/javascript">
								//上传图片
							    /* 初始化上传插件 */
								$("#upload_file_{$field.name}").uploadify({
							        "height"          : 30,
							        "swf"             : "__STATIC__/uploadify/uploadify.swf",
							        "fileObjName"     : "download",
							        "buttonText"      : "上传附件",
							        "uploader"        : "{:U('File/upload',array('session_id'=>session_id()))}",
							        "width"           : 120,
							        'removeTimeout'	  : 1,
							        "onUploadSuccess" : uploadFile{$field.name}
							    });
								function uploadFile{$field.name}(file, data){
									var data = $.parseJSON(data);
							        if(data.status){
							        	var name = "{$field.name}";
							        	$("input[name="+name+"]").val(data.id);
							        	$("input[name="+name+"]").parent().find('.upload-img-box').html(
							        		"<div class=\"upload-pre-file\"><span class=\"upload_icon_all\"></span>" + data.name + "</div>"
							        	);
							        } else {
							        	updateAlert(data.info);
							        	setTimeout(function(){
							                $('#top-alert').find('button').click();
							                $(that).removeClass('disabled').prop('disabled',false);
							            },1500);
							        }
							    }
								</script>
                    </div>
                  </div>
                    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
                    <button class="close fixed" style="margin-top: 4px;">&times;</button>
                      <div class="alert-content"></div>
                      </div>
          	<div class="form-item cf">
                <button class="home_btn submit-btn mb_10 mt_10 custom-theme-blue" id="submit" type="button" target-form="form-horizontal">提交资料</button>
            </div>
        </form>

      </div>
       <p class="copyright">{$system_copy_right}</p>
  </div>
    <!-- 底部导航 -->
    <include file="_footer"/>
    <script src="__STATIC__/mui.3.5.0/js/mui.min.js?v={:SITE_VERSION}"></script>
  <include file="Public/mobile_foot"/>
<script type="text/javascript">
	$.WeiPHP.initWxShare({
		title:"{$forms.title}",
		imgUrl:"{$forms.cover}",
		desc:"{$forms.intro}",
		link:window.location.href
	})
</script>
 <block name="script">
 <link href="{:SITE_URL}/Public/static/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <php>if(C('COLOR_STYLE')=='blue_color') { </php>
    <link href="{:SITE_URL}/Public/static/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <php> } </php>
  <link href="{:SITE_URL}/Public/static/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{:SITE_URL}/Public/static/datetimepicker/js/bootstrap-datetimepicker.min.js"></script> 
  <script type="text/javascript" src="{:SITE_URL}/Public/static/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
<script type="text/javascript">
    function check_subscribe(){
        //判断是否关注公众号
        var has_subscribe = "{$has_subscribe}";
        //var has_subscribe = 1;
        if(has_subscribe=="0"){
            $.WeiPHP.showSubscribeTipsHandle({'title':'{$public_info.public_name}','qrcode': '{$qrcode}'});
            return false;
        }
    }

$('#submit').click(function(){
   // $('#form').submit();
    check_subscribe();
   $.Dialog.loading();
   $.ajax({
// 	   url:'{:U('add?model='.$model['id'])}',
	   url:"{:addons_url('HumanTranslation://Wap/index')}",
	   type:'post',
	   data:$('#form').serializeArray(),
	   dataType:'json',
	   success:function(json){
           console.log(json);
		    //$.Dialog.close();
			if(json.status==1){
			   		$.Dialog.success(json.info);
					//alert('2');
			   }else{
				   	$.Dialog.fail(json.info);
					//alert('3');
			}
		   if(json.url!=""){
			   setTimeout(function(){
				   window.location.href=json.url;
				   },2000);
			   }
   		},
		error:function(){
				$.Dialog.close();
			 //$.Dialog.fail();
			}
	   });
});
$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:0,
        autoclose:true
    });

    $('#textarea-content').bind('keypress mouseleave', function(){
        if($("#goal_language_id").val()==null||$("#goal_language_id").val()==''||$("#goal_language_id").val()==undefined){
            $.Dialog.fail('请选择翻译语言！');
            return false;
        }
        var _length = $(this).val().length;
        var singel_price=$("#singel-price").val();
        $("#total_price").val(_length*singel_price);
    });
    //根据语言取出该类下的单价
    function loadSingelPrice(goal_language_val){
        $.ajax({
            type: 'post',
            url:"{:addons_url('HumanTranslation://Wap/getSingelPrice')}",
            data: {id:goal_language_val},
            dataType: 'json',
            success: function (result) {
                //console.log(result.singel_price);
                $("#singel-price").val(result.singel_price);
            }
        });
    }
});
</script> 
</body>
</html>
