<include file="Public/mobile_head"/>
<include file="header"/>
<script type="text/javascript" src="__STATIC__/qrcode/qrcode.js"></script>
<script type="text/javascript" src="__STATIC__/qrcode/jquery.qrcode.js"></script>
<link rel="stylesheet" href="__STATIC__/mui.3.5.0/css/mui.min.css?v={:SITE_VERSION}">
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
    <div  class="mui-content">
    	<div class="block_content_bg m_10">
          <!--  <div class="block_content_top_min custom-theme-blue">
                <center>请填写以下信息</center>
            </div>-->
             <!-- 表单 -->
             <form id="form" action="{:addons_url('HumanTranslation://Wap/add')}" method="post" class="form-horizontal p_10">
                  <input type="hidden" class="text input-large" name="{$field.name}" value="{:I($field[name], $field[value])}">
                  <div class="form-item cf">
                    <div class="controls">
                        <!--多个数组选择-->
                        <label class="item-label">原文语言<span class="check-tips"></span></label>
                        <select name="select_language_id" id="select_language_id">
                            <option value="" selected >请选择语言</option>
                            <volist name="select_language_id" id="vo">
                             <option value="{$vo.id}" <if condition="$vo.id eq $detail['select_language_id']['id']"> selected</if>>{$vo.name}</option>
                            </volist>
                        </select>
                        <label class="item-label">目标语言<span class="check-tips"></span></label>
                        <select name="goal_language_id" id="goal_language_id">
                            <option value="" selected >请选择语言</option>
                            <volist name="select_language_id" id="vo">
                            <if condition="$vo['id'] eq $detail['goal_language_id']['id']">
                                <option value="{$vo['id']}" id="option{$vo['id']}" selected >{$vo.name}</option>
                                <else/>
                                <option value="{$vo.id}" id="option{$vo['id']}">{$vo.name}</option>
                            </if>
                            </volist>
                        </select>

                        <label class="item-label">标题<span class="check-tips">比如：关于……的翻译</span></label>
                        <input type="text" class="text input-medium" name="title" value="{$detail.title}">
                        <!--输入框-->
                        <label class="item-label">手机<span class="check-tips">方便结果及时告知</span></label>
                          <input type="text" class="text input-medium" name="mobile" value="{$detail.mobile}">
                        <!--文本编辑器-->
                       <!--   <label class="textarea input-large">
                            <textarea name="{$field.name}">{$data[$field['name']]}</textarea>
                          </label>-->
                        <!--时间-->
                          <!--<input type="text" name="{$field.name}" class="text input-large time" value="{$data[$field['name']]|time_format}" placeholder="请选择时间" />-->
                       <!-- <div id="cascade_{$field.name}"></div>
                             {:hook('cascade', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        <div id="dynamic_select_{$field.name}"></div>
                        {:hook('dynamic_select', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}-->
                        <if condition="$detail.type eq 0">
                          <!--文本-->
                            <!--文本编辑器-->
                            <div id="text-translation">
                                <label class="item-label">翻译文本内容<span class="check-tips"></span></label>
                                <label class="textarea">
                                    <textarea id="textarea-content" name="content">{$detail.content}</textarea>
                                </label>
                            </div>
                            <else/>
                            <!--图片-->
                            <div id="img-translation" class="hidden">
                                <label class="item-label">翻译图片内容<span class="check-tips"></span></label>
                                <div class="controls">
                                    <div class="upload_row muti_picture_row">
                                        <notempty name="data[$field['name']]">
                                            <php>
                                                // $tempArr = explode(',',$data['img_url']);
                                                $tempArr =$data['img_url'];
                                                for($i=0;$i<count($tempArr);$i++){
                                                if(!empty($data['id']) && $forms['can_edit']!=1){
                                                echo '<div class="img_item"><input type="hidden" name="img_url[]" value="'.$tempArr[$i].'"/><img src="'.get_cover_url($tempArr[$i]).'"/></div>';
                                                }else{
                                                echo '<div class="img_item"><em>X</em><input type="hidden" name="img_url[]" value="'.$tempArr[$i].'"/><img src="'.get_cover_url($tempArr[$i]).'"/></div>';
                                                }
                                                }
                                            </php>
                                        </notempty>
                                        <if condition="empty($data[id]) || $forms[can_edit]==1">
                                            <a class="img_item add_btn" href="javascript:;" style="width: 84px;height: 84px;" onClick="$.WeiPHP.wxChooseImg(this,1,'img_url[]')"><img  src="__IMG__/add.png"/></a>
                                        </if>
                                    </div>
                                </div>
                                <label class="item-label">图片字数<span class="check-tips">请手动填写上传图片的字数</span></label>
                                <input type="text"  class="text input-large" id="count_str" name="count_str" value="{$detail.count_str}">
                            </div>
                        </if>

<!--多选框-->
                        <!--  <volist name=":parse_field_attr($field['extra'])" id="vo">
                            <label class="checkbox"> <input type="checkbox" value="{$key}" name="{$field.name}[]" 
                              <in name="key" value="$data[$field['name']]" >checked="checked"</in>
                              >{$vo} </label>
                          </volist>-->


                        <!--上传文件-->
                          <!--<div class="controls">
                            <input type="file" id="upload_file_{$field.name}">
                            <input type="hidden" name="{$field.name}" value="{$data[$field['name']]}"/>
                            <div class="upload-img-box">
                              <present name="data[$field['name']]">
                                <div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
                              </present>
                            </div>
                          </div>-->
                        <input class="text input-large" value="{$detail.price}" name="price" type="number" />
                        <label class="item-label">悬赏价格<span class="check-tips"></span></label><br>
                      <!--  <div class="controls">
                            <div class="mui-numbox" data-numbox-step='1' data-numbox-min='0'>
                                &lt;!&ndash; "-"按钮，点击可减小当前数值 &ndash;&gt;
                                <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                            &lt;!&ndash;    <input class="mui-numbox-input" value="{$detail.price}" name="price" type="number" />&ndash;&gt;
                                &lt;!&ndash; "+"按钮，点击可增大当前数值 &ndash;&gt;
                                <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
                            </div>
                            <span class="check-tips">元</span>
                        </div>-->
                        <label class="item-label check-tips">
                            参考报价
                            <span id="singel-price"class="check-tips">{$detail.goal_language_id.singel_price}</span> <span class="check-tips ">元/个</span>
                        </label>
                        <br><label class="item-label check-tips">参考总价<span id="total_price"  class="check-tips">{$detail.total_price}</span><span class="check-tips ">元</span></label> <br>

                    </div>
                  </div>
                    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
                    <button class="close fixed" style="margin-top: 4px;">&times;</button>
                      <div class="alert-content"></div>
                      </div>
                 <input type="hidden" name="id" value="{$detail.id}">
          	<div class="form-item cf">
                <button class="home_btn submit-btn mb_10 mt_10 custom-theme-blue" id="submit" type="button" target-form="form-horizontal">翻译提交并支付</button>
                <button class="home_btn submit-btn mb_10 mt_10 custom-theme-blue hidden" id="submitImg" type="button" target-form="form-horizontal">翻译提交</button>
            </div>
        </form>
      </div>
       <p class="copyright">{$system_copy_right}</p>
     </div>
    <include file="_footer"/>
    <script type="text/javascript">
            //上传图片
            /* 初始化上传插件 */
            $("#upload_file_{$field.name}").uploadify({
                "height"          : 30,
                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                "fileObjName"     : "download",
                "buttonText"      : "上传附件",
                "uploader"        : "{:U('File/upload',array('session_id'=>session_id()))}",
                "width"           : 120,
                'removeTimeout'	  : 1,
                "onUploadSuccess" : uploadFile{$field.name}
            });
            function uploadFile{$field.name}(file, data){
                var data = $.parseJSON(data);
                if(data.status){
                    var name = "{$field.name}";
                    $("input[name="+name+"]").val(data.id);
                    $("input[name="+name+"]").parent().find('.upload-img-box').html(
                            "<div class=\"upload-pre-file\"><span class=\"upload_icon_all\"></span>" + data.name + "</div>"
                    );
                } else {
                    updateAlert(data.info);
                    setTimeout(function(){
                        $('#top-alert').find('button').click();
                        $(that).removeClass('disabled').prop('disabled',false);
                    },1500);
                }
            }
        </script>
<script type="text/javascript">
	$.WeiPHP.initWxShare({
		title:"人工翻译",
		imgUrl:"{$forms.cover}",
		desc:"新发现的一个能够翻译各种语言的好工具",
		link:window.location.href
	})
</script>
    <include file="Public/mobile_foot"/>
    <script src="__STATIC__/mui.3.5.0/js/mui.min.js?v={:SITE_VERSION}"></script>
 <block name="script">
 <link href="{:SITE_URL}/Public/static/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <php>if(C('COLOR_STYLE')=='blue_color') { </php>
    <link href="{:SITE_URL}/Public/static/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <php> } </php>
  <link href="{:SITE_URL}/Public/static/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{:SITE_URL}/Public/static/datetimepicker/js/bootstrap-datetimepicker.min.js"></script> 
  <script type="text/javascript" src="{:SITE_URL}/Public/static/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
<script type="text/javascript">
    function check_subscribe(){
        //判断是否关注公众号
        var has_subscribe = "{$has_subscribe}";
        //var has_subscribe = 1;
        if(has_subscribe=="0"){
            $.WeiPHP.showSubscribeTipsHandle({'title':'{$public_info.public_name}','qrcode': '{$qrcode}'});
            return false;
        }
    }
    mui.plusReady(function () {
        var self = plus.webview.currentWebview();
        var id = self.id;
        alert(id);
        console.log("extras:" + self.id);
    })
$('#submit').click(function(){
   // $('#form').submit();
    check_subscribe();
    if($('#textarea-content').val()==null||$("#textarea-content").val()==''||$("#textarea-content").val()==undefined){
        if($("#count_str").val()==null||$("#count_str").val()==''||$("#count_str").val()==undefined){
            $.Dialog.fail('翻译内容不能为空');
            return false;
        }
    }
    if($("#goal_language_id").val()==null||$("#goal_language_id").val()==''||$("#goal_language_id").val()==undefined){
        $.Dialog.fail('请选择翻译语言！');
        return false;
    }
   $.Dialog.loading();
   $.ajax({
// 	   url:'{:U('add?model='.$model['id'])}',
	   url:"{:addons_url('HumanTranslation://Wap/editIndex')}",
	   type:'post',
	   data:$('#form').serializeArray(),
	   dataType:'json',
	   success:function(json){
           console.log(json);
           console.log(json.info);
		    //$.Dialog.close();
			if(json.status==1){
			   		$.Dialog.success(json.info);
					//alert('2');
            }else{
				   	$.Dialog.fail(json.info);
					//alert('3');
			}
		   if(json.url!=""&&json.url!=undefined){
			   setTimeout(function(){
				   window.location.href=json.url;
				   },2000);
			   }
   		},
		error:function(){
				$.Dialog.close();
			 //$.Dialog.fail();
			}
	   });
});
$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:0,
        autoclose:true
    });
    $("#translation_type_img").click(function(){
        $("#img-translation").fadeIn(); //.css("visibility","hidden");
        $("#text-translation").fadeOut();
        $("#submitImg").fadeIn();//显示按钮
        $("#submit").fadeOut();
    });
    $("#translation_type_text").click(function(){
        $("#text-translation").fadeIn();
        $("#img-translation").fadeOut();
        $("#submitImg").fadeOut();//显示按钮
        $("#submit").fadeIn();
    });
    $("#goal_language_id").bind("change keyup", function () {
        var goal_language_val = $(this).prop("value");
        loadSingelPrice(goal_language_val);
    });
    $("#select_language_id").bind("change keyup", function () {
        var select_language_id = $(this).prop("value");
        if($("#option"+select_language_id).is(":hidden")){
            console.log('sdf');
            $("#option"+select_language_id).show();    //如果元素为隐藏,则将它显现
        }else{
            console.log('sdf1');
            $("#option"+select_language_id).hide();     //如果元素为显现,则将其隐藏
        }
       /* $.each(goal_language_val, function () {
            //遍历本地的
            var self = $(this);
            var selfId = $(this).val();
            console.log(selfId);
            if (selfId == select_language_id) {
                console.log('sdf');
                self.remove();
            }
        });*/
    });
    $('#textarea-content').bind('keypress mouseleave', function(){
        if($("#goal_language_id").val()==null||$("#goal_language_id").val()==''||$("#goal_language_id").val()==undefined){
            $.Dialog.fail('请选择翻译语言！');
            return false;
        }
        var _length = $(this).val().length;
        var singel_price=$("#singel-price").html();
        $("#total_price").html(_length*singel_price);
    });
    //根据语言取出该类下的单价
    function loadSingelPrice(goal_language_val){
        $.ajax({
            type: 'post',
            url:"{:addons_url('HumanTranslation://Wap/getSingelPrice')}",
            data: {id:goal_language_val},
            dataType: 'json',
            success: function (result) {
                //console.log(result.singel_price);
                $("#singel-price").html(result.singel_price);
            }
        });
    }
});
    /*公共底部菜单js*/
    mui(".bottom_menu").on('tap','.list-page-bottom',function(){
        //获取id
        var from = this.getAttribute("data");
        if(from==1){
            var url = "{:addons_url('HumanTranslation://Wap/index', array('token'=>$token))}";
        }else if(from==2){
            var url = "{:addons_url('HumanTranslation://Wap/translate', array('token'=>$token))}";
        }else{
            var url = "{:addons_url('HumanTranslation://Wap/ucenter', array('token'=>$token))}";
        }
        mui.openWindow({
            url: url,
        })
    })
</script> 
</body>
</html>
