<include file="Public/mobile_head"/>	
<include file="header"/>
<link rel="stylesheet" href="__STATIC__/mui.3.5.0/css/mui.min.css?v={:SITE_VERSION}">
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
	<div  class="mui-content">
        <div class="my_order">
            <div class="mui-card" style="margin: 0px;">
                <div class="mui-row">
                    <div class="mui-card-header">
                       <div class=" mui-col-xs-5">
                            <li class="">编号</li>
                         </div>
                        <div class="mui-col-xs-5">
                            <li class="">标题</li>
                         </div>
                          <div class="mui-col-xs-2">
                            <li class="">状态</li>
                         </div>
                    </div>
              </div>
                <div class="mui-row">
                    <empty name="orderList">
                        <div class="empty_container"><p>暂时无订单数据</p></div>
                        <else />
                    <ul  class="mui-table-view">
                        <volist name="orderList" id="vo">
                            <li class="mui-table-view-cell mui-collapse">
                                <a class="mui-navigate-right">
                                    <div class=" mui-col-xs-5" style="float: left;font-size: 6px;">{$vo.order_number}</div>
                                    <div class=" mui-col-xs-5" style="float: left;font-size: 6px;">{$vo.title}</div>
                                    <div class=" mui-col-xs-2" style="float: left;font-size: 6px;">
                                        <if condition="$vo.pay_status eq 0">
                                            <span class="mui-badge mui-badge-danger mui-badge-inverted">待支付</span>
                                            <elseif condition="$vo.pay_status eq 1"/><!--已经支付-->
                                            <span class="mui-badge mui-badge-danger mui-badge-inverted">进行中</span>
                                            <elseif condition="$vo.pay_status eq 2"/>
                                            <span class="mui-badge mui-badge-danger mui-badge-inverted">评价</span>
                                            <else />
                                            <span class="mui-badge mui-badge-success mui-badge-inverted">成功</span>
                                        </if>
                                    </div>
                                </a>
                                <div class="mui-collapse-content">
                                    <p> <a href="{:U('orderDetail',array('id'=>$vo['id']))}"><span class="mui-badge  mui-badge-warning mui-badge-inverted">查看详情</span></a></p>
                                    <p onclick="delOrder({$vo.id})" data="22"><a><span class="mui-badge  mui-badge-warning mui-badge-inverted">删除</span></a></p>
                                    <if condition="$vo.pay_status eq 0">
                                        <p> <a href="{:addons_url('HumanTranslation://Wap/editIndex',array('id'=>$vo['id']))}"><span class="mui-badge  mui-badge-warning mui-badge-inverted">编辑</span></a></p>
                                     <p><a id="toPay" href="{:addons_url('HumanTranslation://Wap/choose_pay',array('id'=>$vo['id'],'invite_uid'=>$vo['uid']))}" data="{$vo.id}"><span class="mui-badge  mui-badge-warning mui-badge-inverted">前去支付</span></a></p>
                                        <else />
                                    </if>
                                </div>
                             </li>
                        </volist>
                    </ul>
                    </empty>
             </div>
         </div>
    <!-- 底部导航 -->
    <include file="_footer"/>
    <script src="__STATIC__/mui.3.5.0/js/mui.min.js?v={:SITE_VERSION}"></script>
    <script>
        function delOrder(id){
           var btnArray = ['否', '是'];
            mui.confirm('你确认删除该订单？', '', btnArray, function(e) {
                if (e.index == 1) {
                    $.Dialog.loading();
                    $.ajax({
                        type: 'post',
                        url:"{:addons_url('HumanTranslation://Wap/del_order')}",
                        data: {id:id},
                        dataType: 'json',
                        success: function (result) {
                            if (result.status==1){
                                $.Dialog.success(result.info);
                                $(".mui-active").remove();
                            }else {
                                $.Dialog.fail(result.info);
                            }
                        }
                    });
                } else {
                   // $.Dialog.fail('网络错误，请重试!');
                }
            })

        }
    </script>
</body>
</html>