<include file="Public/mobile_head"/>
<include file="header"/>
<link rel="stylesheet" href="__STATIC__/mui.3.5.0/css/mui.min.css?v={:SITE_VERSION}">
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
<div  class="mui-content">
    <div class="translate">
        <volist name="orderList" id="vo">
            <div class="mui-card">
                <div class="mui-card-header">
                   原文
                </div>
                <div class="mui-card-content">
                    <div class="mui-row">
                        <div class="docs-sub-content">
                            <p class="page-description">Once you've downloaded mui, here's what to do next.Once you've downloaded mui, here's what to do next</p>
                            <if condition="$vo.translation_type eq 1">
                                <img class="mui-media-object mui-pull-left" src="../images/shuijiao.jpg">
                                <else />
                            </if>
                        </div>
                    </div>
                </div>
                <div class="mui-card-header">
                    译文
                </div>
                <div class="mui-card-content">
                    <div class="mui-row">
                        <div class="docs-sub-content">
                            <p class="page-description">Once you've downloaded mui, here's what to do next.Once you've downloaded mui, here's what to do next</p>
                            <if condition="$vo.translation_type eq 1">
                                <img class="mui-media-object mui-pull-left" src="../images/shuijiao.jpg">
                                <else />
                            </if>
                            <p><span>166</span>个浏览&nbsp;&nbsp;&nbsp;&nbsp;<!--<span>1626<i class="mui-icon mui-icon-person"></i></span>--></p>
                        </div>
                    </div>
                </div>
                <div class="mui-card-footer">
                    <div class="mui-row">
                        <if condition="$vo.status eq 0">
                            <div class=" mui-col-xs-6">
                                <a  href="" class="mui-btn"><span><i class="mui-icon mui-icon-help"></i></span等待收货</a>
                            </div>
                            <else/>
                            <div class=" mui-col-xs-6">
                                <a  href="" class="mui-btn"><span><i class="mui-icon mui-icon-help"></i></span>交易成功</a>
                            </div>
                            <div class=" mui-col-xs-6">
                                <a  href="" class="mui-btn"><span><i class="mui-icon mui-icon-help"></i></span>查看译文</a>
                            </div>
                        </if>
                    </div>
                </div>
            </div>
    </volist>
</div>
</div>
<!-- 底部导航 -->
<include file="_footer"/>
<script src="__STATIC__/mui.3.5.0/js/mui.min.js?v={:SITE_VERSION}"></script>
<script>
    document.getElementById("delOrder").addEventListener('tap', function() {
        var btnArray = ['否', '是'];
        alert($(this).attr('data'));
        mui.confirm('你确认删除该订单？', '', btnArray, function(e) {
            if (e.index == 1) {
                delOrder($(this).attr('data'));
            } else {

                //info.innerText = 'MUI没有得到你的认可，继续加油'
            }
        })
    });
    function delOrder(id){
        $.Dialog.loading();
        $.ajax({
            type: 'post',
            url:"{:addons_url('HumanTranslation://Wap/delOrder')}",
            data: {id:id},
            dataType: 'json',
            success: function (result) {
                if (result==1){
                    $.Dialog.success('删除成功');
                }else {
                    $.Dialog.fail('删除失败，稍后再试');
                }

            }
        });
    }
    /*公共底部菜单js*/
    mui(".bottom_menu").on('tap','.list-page-bottom',function(){
        //获取id
        var from = this.getAttribute("data");
        if(from==1){
            var url = "{:addons_url('HumanTranslation://Wap/index', array('token'=>$token))}";
        }else if(from==2){
            var url = "{:addons_url('HumanTranslation://Wap/translate', array('token'=>$token))}";
        }else{
            var url = "{:addons_url('HumanTranslation://Wap/ucenter', array('token'=>$token))}";
        }
        mui.openWindow({
            url: url,
        })
    })
</script>
</body>
</html>