<include file="Public/mobile_head"/>	
<include file="header"/>
<link rel="stylesheet" href="__STATIC__/mui.3.5.0/css/mui.min.css?v={:SITE_VERSION}">
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
	<div  class="mui-content">
        <div class="mui-card" >
            <div class="mui-card-header">
                订单状态 <span class="mui-badge mui-badge-danger mui-badge-inverted">
                  <if condition="$detail.pay_status eq 0">
                      待支付
                      <elseif condition="$detail.pay_status eq 1"/>
                      已经支付，正在招标
                      <else/>
                      交易完成
                  </if>
                </span>
            </div>
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">订单编号
                        <span class="mui-badge mui-badge-primary mui-badge-inverted">{$detail.order_number}</span>
                    </li>
                    <!--<li class="mui-table-view-cell">翻译类型
                        <span class="mui-badge mui-badge-primary mui-badge-inverted">
                            <if condition="$detail.translation_type eq 0">
                                文本
                                <else/>
                                图片
                                </if>
                    </span>
                    </li>-->
                    <if condition="$detail.translation_type eq 0">
                        <else/>
                        <li class="mui-table-view-cell">字数统计
                            <span class="mui-badge mui-badge-primary mui-badge-inverted">{$detail.count_str}</span>
                        </li>
                    </if>
                    <li class="mui-table-view-cell">翻译语言
                        <span class="mui-badge mui-badge-warning mui-badge-inverted">
                            {$detail.select_language_id.name}
                            <i class="mui-icon mui-icon-arrowthinright"></i>
                              {$detail.goal_language_id.name}
                        </span>
                    </li>
                    <li class="mui-table-view-cell">悬赏价格<span class="mui-badge mui-badge-primary mui-badge-inverted">{$detail.price}</span></li>
                    <li class="mui-table-view-cell">下单时间<span class="mui-badge mui-badge-primary mui-badge-inverted">{$detail.cTime | date="Y-m-d H:m:i",###}</span></li>
                    <li class="mui-table-view-cell"> 原文
                            <div class="mui-card-content translate-content">
                                {$detail.content}
                            </div>
                    </li>
                    <li class="mui-table-view-cell">
                         译文
                        <div class="mui-card-content translate-content">
                            <volist name="detail['SecondContent']" id="val">
                                  <li class="mui-table-view-cell">{$val.translate_content}
                                    <empty name="detail['after_content']">
                                        <span after-content-id="{$val.id}"  content-id="{$detail.id}"  class="mui-badge mui-badge-custom confirm-result" style=" display: inline;position: relative;top: 0px;right: 0px;">确认采用</span>
                                        <else />
                                        <if condition="$val.is_recommend eq 0">
                                            <else/>
                                            <span class="mui-badge mui-badge-success" style=" display: inline;position: relative;top: 0px;right: 0px;">中标</span>
                                        </if>
                                    </empty>

                            </li>
                            </volist>
                         </div>
                    </li>
                </ul>
            </div>
            <div class="mui-card-footer"></div>
         </div>
    </div>
    <!-- 底部导航 -->
    <include file="_footer"/>
    <script src="__STATIC__/mui.3.5.0/js/mui.min.js?v={:SITE_VERSION}"></script>
<script>
    /*公共底部菜单js*/
    mui(".bottom_menu").on('tap','.list-page-bottom',function(){
        //获取id
        var from = this.getAttribute("data");
        if(from==1){
            var url = "{:addons_url('HumanTranslation://Wap/index', array('token'=>$token))}";
        }else if(from==2){
            var url = "{:addons_url('HumanTranslation://Wap/translate', array('token'=>$token))}";
        }else{
            var url = "{:addons_url('HumanTranslation://Wap/ucenter', array('token'=>$token))}";
        }
        mui.openWindow({
            url: url,
        })
    })
    mui(".mui-content").on('tap','.confirm-result',function(){
        //获取id
        var after_content_id = this.getAttribute("after-content-id");
        var content_id = this.getAttribute("content-id");
            //采用译文
            var url = "{:addons_url('HumanTranslation://Wap/changeAfterContent', array('token'=>$token))}";
                url=url+'&'+'after_content_id='+after_content_id+'&'+'content_id='+content_id;
                //打开页面
                mui.openWindow({ id:'changeAfterContent.html', url:url });
         /*   $(this).attr('href',url);
                mui.post(url,{
                    after_content_id:after_content_id,
                    content_id:content_id
                        },function(data){
                            $.Dialog.success(data.info);
                        setTimeout(function(){
                            location.reload();
                        },2000);
                        },'json'
                );*/
    })
</script>
</body>
</html>