<include file="Public/mobile_head"/>
<include file="header"/>
<link rel="stylesheet" href="__STATIC__/mui.3.5.0/css/mui.min.css?v={:SITE_VERSION}">
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>
	<div  id="pullrefresh" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
        <div class="translate">
          <!--  <div class="mui-card" >
                <div class="mui-card-header">
                    <div class="mui-row" id="translate-tag">
                        <div class="mui-col-xs-2">
                            <a type="button" class="mui-btn">蓝色</a>
                        </div>
                        <div class=" mui-col-xs-2">
                            <a type="button" class="mui-btn">蓝色</a>
                        </div>
                        <div class=" mui-col-xs-2">
                            <a type="button" class="mui-btn">蓝色</a>
                        </div>
                        <div class=" mui-col-xs-2">
                            <a type="button" class="mui-btn">蓝色</a>
                        </div>
                        <div class=" mui-col-xs-2">
                            <a type="button" class="mui-btn">蓝色</a>
                        </div>
                        <div class=" mui-col-xs-2">
                            <a type="button" class="mui-btn">蓝色</a>
                        </div>
                        <div class=" mui-col-xs-2">
                            <a type="button" class="mui-btn">蓝色</a>
                        </div>
                    </div>
                </div>
                </div>-->
            <volist name="orderList" id="vo">
                <div class="mui-card">
                    <div class="mui-card-header">
                       <h5>{$vo.title}</h5>
                        <span class="ask-wealth"><img class="wealth-icon" src="{:ADDON_PUBLIC_PATH}/money.png"/><em>{$vo.total_price}</em></span>
                    </div>
                <div class="mui-card-content">
                    <div class="mui-row">
                        <div class="docs-sub-content">
                             <p class="page-description">{$vo.content}</p>
                               <if condition="$vo.translation_type eq 1">
                                   <volist name="img_url" id="vo">
                                        <img class="mui-media-object mui-pull-left" src="{vo.img_url|get_cover_url}">
                                   </volist>
                                    <else />
                                </if>
                            <p><span>{$vo.countSecondContent}</span>个译文&nbsp;&nbsp;&nbsp;&nbsp;<span>{$vo.click}<i class="mui-icon mui-icon-person"></i></span></p>
                        </div>
                 </div>
                    </div>
                <div class="mui-card-footer">
                    <div class="mui-row">
                            <if condition="$vo.order_status eq 0">
                                <div class=" mui-col-xs-6">
                                    <a  onclick="addTranslateTask({$vo.id});" class="mui-btn current-btn"><span><i class="mui-icon  mui-icon-compose"></i></span>我要翻译</a>
                                </div>
                                <div class=" mui-col-xs-6">
                                <a  onclick="shareAuthor();" class="mui-btn"><i class="mui-icon mui-icon-plusempty"></i>邀请翻译</a>
                                    </div>
                                <elseif condition="$vo.order_status eq 1"/>
                                <div class=" mui-col-xs-6">
                                <a class="mui-btn"><span><i class="mui-icon mui-icon-help"></i></span>正在翻译</a>
                                    </div>
                                <else/>
                                <div class=" mui-col-xs-6">
                                <a onclick="detailTranslate" class="mui-btn"><span><i class="mui-icon mui-icon-help"></i></span>查看译文</a>
                                </div>
                            </if>
                        </div>
                    </div>
                </div>
            </volist>
         </div>
    </div>
    </div>
    <div id="addTranslate" class="box mui-popover mui-popover-action mui-popover-bottom"></div>
    <!-- 底部导航 -->
    <include file="_footer"/>
    <include file="Public/mobile_foot"/>
    <script src="__STATIC__/mui.3.5.0/js/mui.min.js?v={:SITE_VERSION}"></script>
    <script>
        /*分享{$weiba_detail.intro}*/
        wx.ready(function(){
            var shareData = {
                title: '{$weiba_name}', // 分享标题
                desc:"<php> echo  DeleteHtml($weiba_detail['intro']);</php>", // 分享描述
                link: "{:U( 'detail',array('weiba_id'=>$weiba_detail['id'],'token'=>get_token()))}", //分享的链接地址
                imgUrl: "{$weiba_detail.logo|get_cover_url}", // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                    $('.shareTips').remove();
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    $('.shareTips').remove();
                }
            }
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
        });
        function shareAuthor(){
            //邀请翻译
            $.WeiPHP.showShareFriend();
        }
    function addTranslateTask(id){
        //我要翻译
      /*  $.Dialog.loading();
        $.ajax({
            url:"{:addons_url('HumanTranslation://Wap/addTranslateTask')}",
            type:'post',
            data:{id:id},
            dataType:'json',
            success:function(json){
                console.log(json);
                //$.Dialog.close();
                if(json.status==1){
                    $.Dialog.success(json.info);
                    //alert('2');
                }else{
                    $.Dialog.fail(json.info);
                    //alert('3');
                }
                if(json.url!=""){
                    setTimeout(function(){
                        window.location.href=json.url;
                    },2000);
                }
            },
            error:function(){
                $.Dialog.close();
                //$.Dialog.fail();
            }
        });*/
    }
        mui.init
        ({
            pullRefresh:
            {
                container: '#pullrefresh',
                down: {
                    callback: pulldownRefresh
                },
                up: {
                    contentrefresh: '正在加载...',
                    callback: pullupRefresh
                }
            }
        });

        /*
         * 下拉刷新具体业务实现
         */
        function pulldownRefresh()
        {
            setTimeout(function()
            {
                var table = document.body.querySelector('.translate');
                var cells = document.body.querySelectorAll('.mui-card');
                //模拟数据
                for (var i = cells.length, len = i + 3; i < len; i++) {
                    var li = document.createElement('li');
                    li.className = 'mui-table-view-cell';
                    li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
                    //下拉刷新，新纪录插到最前面；
                    table.insertBefore(li, table.firstChild);
                }

                mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
            }, 1500);
        }

        var count = 0;
        /*
         * 上拉加载具体业务实现
         */
        function pullupRefresh()
        {
            setTimeout(function() {
                mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
                var table = document.body.querySelector('.translate');
                var cells = document.body.querySelectorAll('.mui-card');

                for (var i = cells.length, len = i + 20; i < len; i++) {
                    var li = document.createElement('li');
                    li.className = 'mui-table-view-cell';
                    li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
                    table.appendChild(li);
                }

            }, 1500);
        }
        if (mui.os.plus) {
            mui.plusReady(function() {
                setTimeout(function() {
                    mui('#pullrefresh').pullRefresh().pullupLoading();
                }, 1000);

            });
        } else
        {
            mui.ready(function() {
                mui('#pullrefresh').pullRefresh().pullupLoading();
            });
        }
    </script>
</body>
</html>