<include file="Public/mobile_head"/>
<link href="{:ADDON_PUBLIC_PATH}/mobile/common.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body class="withFoot">
<div class="container">
    <empty name="myCollect">
        <div class="empty_container"><p>暂无收藏</p></div>
    </empty>
    <!-- 收藏 -->
    <div class="order_list" id="conllect">
        <ul>
            <volist name="myCollect" id="vo">
                <li>
                    <a class="goods_item" href="{:U('detail',array('shop_id'=>$shop_id,'id'=>$vo[goods_id]))}">
                        <img src="{$vo.cover|get_cover_url}"/>
                        <div class="info">
                            <P class="name">{$vo.title}</P>
                            <p class="property">
                                <span class="colorless">价格</span>
                                <span class="orange">￥{$vo.price}</span>
                            </p>
                        </div>
                    </a>
                     <a class="delete_icon" onClick="confirmDelete('{:U('delete_collect',array('id'=>$vo[id]))}');" title="删除">&nbsp;</a>
                </li>
            </volist>
        </ul>
    </div>
</div>
<!-- 底部导航 -->
<include file="_footer"/>
<script type="text/javascript">
  function confirmDelete(url){
  	$.Dialog.confirmBox('温馨提示','确认删除？',{rightCallback:function(){
  		$.Dialog.loading();
  		$.post(url,function(res){
  			   setTimeout(function(){
  				 location.reload();	
  			},1500);  
  	    });
	}});
  }
  </script>
</body>
</html>